# Зависимости
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Сборка
dist/
build/

# Файлы окружения
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log